#aside_filtres , #aside_grp {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin:auto;
}
/* les puces des li n'apparaissent pas */
#grps_filtres li {
    list-style-type: none;
    font-weight: bold;
}
#grps_filtres {
    align-items: left;
}
#dep{
    margin-top: 1em;
    max-height: 2em;
}
table{
    height: 20;
    overflow-y: scroll;
}
table,
td,
th {
    border: 1px solid #333;
}

td,th{
    padding: 0.5em;
    width: 10em;
}

thead,
tfoot{
    background-color: #333;
    color: #fff;
}
#colonnes{
    position: sticky;
    top: 0;
    background-color: #fff;
}


