*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

.navbar {
    background: #9c91d8;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    position: sticky;
    top: 0;
    z-index: 999;
}
#navbar_home{
    margin-right: 7em;
    margin-top: 0.5em;
}


.navbar__container {
    display: flex;
    height: 80px;
    z-index: 1;
    width: 100%;
    margin-left: 0%;
    margin-right: 10%;
    align-items: left;
    justify-content: left;
}

.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}
.navbar__links{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 2rem;
    height: 100%;
}


.navbar__links:hover{
    color: #860061;
    transition: all 0.3s ease;
}

.burger{
    opacity: 0;
}




@media screen and (max-width: 960px){
    .navbar__container{
        flex-direction: column;
        height: 80px;   
    }
    .home{
        display:inline-block;
    }
    
    .navbar__links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
        padding-top:2%;
        padding-bottom:2%;
    }
    .navbar__links:hover{
        color: #860061;
        transition: all 0.3s ease;
    }
    .navbar__menu.active{
        background: #9c91d8;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .navbar__menu.active{
        background: #9c91d8;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }
    .burger{
        display: flex;
        justify-content: right;
        align-items: right ;
        font-size: 1.8rem;
        color: #fff;
        cursor: pointer;
        margin-right: 2rem;
        opacity: 1;
    }
    
    #maison{
        margin-top:25px;
    }
    .navbar__menu{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        position: absolute;
        top: 80px;
        opacity: 1;
        transition: all 0.5s ease;
        background: #9c91d8;
        position: sticky;
        display:block;
        
    }
    
}
