/* ------------------ PARTIE DU QCM */
#QCM{
    background-color: #860061;
    flex-wrap: nowrap;
  }
  
#titre_tableau_sondage{
    flex-grow: 1;
}
  
tr{
    display: flex;
}

#tableauqcm{
  display: flex;
}

.jsp{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
