<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/nav.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acceuil</title>
</head>
<body>
    <!-- ici la navbar -->
    <nav>
        <label for="toggle">☰</label>
        <input type="checkbox" id="toggle">
        <div class="main_pages">
            <a href="./Acceuil.html" id="navbar_home"> 
                <img src="../img/acceuil_act.png" height="50em" alt="" height="60em">
            </a>

            <a href="./ResQCM.html" class="navbar__links">Resultats QCM</a>
       

            <a href="./res_sond.html" class="navbar__links">Sondages</a>
        

            <a href="./Dispo.html" class="navbar__links">Disponibilité Enseignant</a>
       

            <a href="/" class="navbar__links">Gerer ses disponibilités</a>
       
            <a href="/" class="navbar__links">Voir le soutien</a>
        
            <a href="./SuiviGenEtu.html" class="navbar__links">Suivi Etudiant</a>

            <a href="/" class="navbar__links"> <img src="../img/reglages.png" height="50em" alt=""></a>

            <a href="./connexionProf.html" class="navbar__links"><img src="../img/deconnexion.png" height="40em" alt=""></a>

        </div>
    </nav>
</body>
</html>