{% if admin %}
    {% extends 'BaseAdmin.html' %}
{% else %}
    {% extends 'BaseEnsiegnant.html' %}
{% endif %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_acc.css') }}">
{% endblock %}
{% block top %}
            <select name="semaines" id="selec-sem">
                {% for semaine in semaines %}
                    <option value="{{ semaine.id_semaine }}">Sem {{ semaine.id_semaine }} {{ semaine.date_debut }}</option>
                {% endfor %}
            </select>
            <input class="donnees_btn" type="button" value="Recuperer les données">
            <p id="text_mail"> les mails ont été envoyés pour la semaine 3</p> <!-- remplir avec le selenium -->
{% endblock %}
{% block center %}
        <div class="res_qcm">
            <table>
                <thead>
                    <tr>
                        <th colspan="4">Resultats QCM</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th id="Groupe">Groupe</td>
                        {% for matiere in qcm["generale"].keys() %}
                            <th id="{{ matiere }}">{{ matiere }}</td>
                        {% endfor %}
                    </tr>
                    {% for groupe in qcm.keys() %}
                        <tr>
                            <td>{{ groupe }}</td>
                            {% for matiere in qcm[groupe].keys() %}
                                <td>{{ qcm[groupe][matiere] }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <section class="dispo_sond">
    
            <div class="res_sond">
                <table>
                    <thead>
                        <tr>
                            <th colspan="4">Resultats sondages</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th id="MatDem">Matiere demandée</td>
                            <th id="NBDem">Nombre demandes</td>
                            <th id="MoyGen">Moyenne generale</td>
                        </tr>
                        {% for matiere in matieres_demandées.keys() %}
                            <tr>
                                <td>{{ matiere }}</td>
                                <td>{{ matieres_demandées[matiere]["nb"] }}</td>
                                <td>{{ matieres_demandées[matiere]["Moyenne"] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
            </div>

            <div class="dispo_en">
                <table>
                    <thead>
                        <tr>
                            <th colspan="4">Enseignants disponibles</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th id="Prof">Prof</td>
                            {% for matiere in matieres %}
                                <th id="{{ matiere }}">{{ matiere }}</td>
                            {% endfor %}
                        </tr>
                         <!-- possibles[p].append(m.nomMatiere) -->
                        {% for prof in possibles.keys() %}
                            <tr>
                                <td>{{ prof }}</td>
                                {% for matiere in matieres %}
                                    {% if matiere in possibles[prof] %}
                                        <td>Oui</td>
                                    {% else %}
                                        <td>Non</td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>  
{% endblock %}