<!DOCTYPE html>
<html lang="fr">
    <head>
        <link rel="stylesheet" href="../static/style.css">
        <link rel="stylesheet" href="../static/index.css">
        <title>Connexion</title>

    </head>
    <body>
        <main id="page_connexion">
            <img src="../img/logo.png" alt="logo" id="logo">
            <div id="conteneur">
                <div id="ident">
                <label>Identifiant</label>
                <input type="text" name="identifiant" id="identifiant">
                </div>
                <div id="mdp">
                <label>Mot de passe</label>
                <input type="password" name="mdp" id="motdp">
                </div>
                <button id="connexion" type="button">Se connecter</button>
            </div>
                <button id="retour" type="button"><img src="../img/retour_util.png" alt="retour" height="10em">Retour au choix utilisateur</button>
        </main>
    </body>
</html>