<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
        <title>Connexion</title>

    </head>
    <body><script src="../JS/redir.js"></script>
        <main id="page_connexion">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo" id="logo">
            <form id="conteneur" action="{{ url_for('Connexion', origin ='Prof') }}" method="post">
                <div id="ident">
                    <label for="identifiant">Nom Enseignant</label>
                    <input type="text" name="identifiant" id="identifiant">
                </div>
                <div id="mdp">
                    <label for="motdp">Numéro Enseignant</label>
                    <input type="password" name="motdp" id="motdp">
                </div>
                <button id="connexion" type="submit" >Se connecter</button> 
            </form>
                <button id="retour" type="button"><a href="{{url_for ('route')}}"><img src="{{ url_for('static', filename='img/retour_util.png') }}" alt="retour" height="10em">Retour au choix utilisateur</a></button>
        </main>
    </body>
</html>