{% if admin %}
    {% extends 'BaseAdmin.html' %}
{% else %}
    {% extends 'BaseEnsiegnant.html' %}
{% endif %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/dispo.css')}}">

{% endblock %}
{% block aside %}
            <div id="aside_filtres">
                <h2>Filtres</h2>
                <button id="dep_fil" type="button" onclick="plie_deplie_semaines()">
                    <img src="{{ url_for('static', filename='img/deplie.png') }}" alt="plie" id="dep2"/></button>
            </div>
            <section id="groupe_filtre">
            <select name="semaines" id="selec-sem">
                {% for semaine in semaines %}
                    <option value="{{ semaine.id_semaine }}">Sem {{ semaine.id_semaine }} {{ semaine.date_debut }}</option>
                {% endfor %}
            </select>
            <div id="aside_grp">
                <h3>Matières</h3>
                <button id="dep_grp" type="button" onclick="plie_deplie_filtres()">
                    <img src="{{ url_for('static', filename='img/deplie.png') }}" alt="plie" id="dep"/></button>
            </div>
            <ul id="grps_filtres">
                <li>
                    <input type="checkbox" name="Python" id="Python">
                    <label for="Python">Python</label>
                </li>
                <li>
                    <input type="checkbox" name="BDD" id="BDD">
                    <label for="BDD">BDD</label>
                </li>
                <li>
                    <input type="checkbox" name="Java" id="Java">
                    <label for="Java">Java</label>
                </li>
                <li>
                    <input type="checkbox" name="Bash" id="Bash">
                    <label for="Bash">Bash</label>
                </li>
                <li>
                    <input type="checkbox" name="Maths" id="Maths">
                    <label for="Maths">Maths</label>
                </li>
            </ul>
            <input id="liaison_bd" class="style_btn" value="Valider" type="button"></input>
            </section>
{% endblock %}
{% block center%}
        <section id="tableaudispo">
            <table id="labels">
                <thead id="Dispo_nom">
                    <tr>
                        <th id="titre_tableau_dispo"><H2>Disponibilités</H2></th>
                    </tr>
                </thead>
                <tr class="colonnes">
                    <th class="noms">Enseignant</th>
                    {% for matiere in matieres %}
                        <th class="noms">{{ matiere }}</th>
                    {% endfor %}
                   
                    
                </tr>
                </table>
                <table class="scrolable">
                    <tbody>
                        
                        {% for prof in possibles.keys() %}
                            <tr>
                                <td> {{ prof }}</td>
                                {% for matiere in matieres %}
                                    {% if matiere in possibles[prof] %}
                                        <td> OUI </td>
                                    {% else %}
                                        <td> NON </td>
                                    {% endif %}
                                {% endfor %}
                                
                                
                                
                            </tr>
                        {% endfor %}
                    </tbody>
            </table>

        </section>  
{% endblock %}
{% block scripts %}
<script src="{{url_for('static', filename='JS/dispo.js')}}"></script>
{% endblock %}
