{% if admin %}
    {% extends 'BaseAdmin.html' %}
{% else %}
    {% extends 'BaseEnsiegnant.html' %}
{% endif %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/dispo.css')}}">

{% endblock %}
{% block aside %}
<div id="aside_filtres">
    <h2>Filtres</h2>
    <button id="dep_fil" type="button" onclick="plie_deplie_semaines()">
    <img src="{{ url_for('static', filename='img/deplie.png') }}" alt="deplie" id="dep2"/></button>
</div>
<section id="groupe_filtre">
    <form method="POST" action="">
        {% if filtres.semaines.errors %}
        <div class="invalid-feedback">
            {% for error in filtres.semaines.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% endif %}
        <select name="semaines" id="selec-sem">
            {% for sem in filtres.semaines %}
                {{ sem }}
            {% endfor %}
        </select>
        <div id="aside_grp">
            <h3>Matieres</h3>
            <button id="dep_grp" type="button" onclick="plie_deplie_filtres()">
                <img src="{{ url_for('static', filename='img/deplie.png') }}" alt="deplie" id="dep"/></button>
        </div>
        <fieldset class="form-group" id="grps_filtres">
            {% if filtres.matieres.errors %}
            <div class="invalid-feedback">
                {% for error in filtres.matieres.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% endif %}
            {% for choice in filtres.matieres %}
                <div class="form-check">
                    {{ choice(class="form-check-input") }}
                    {{ choice.label(class="form-check-label") }}
                </div>
            {% endfor %}
        </fieldset>
    <input id="liaison_bd" class="btn_valide" value="Valider" type="submit"></input>
    </form>
</section>
{% endblock %}
{% block center%}
        <section id="tableaudispo">
            <table id="labels">
                <thead id="Dispo_nom">
                    <tr>
                        <th id="titre_tableau_dispo" colspan="4"><H2>Disponibilités</H2></th>
                    </tr>
                </thead>
                <tr class="colonnes">
                    <th class="noms">Enseignant</th>
                    {% for matiere in matieres %}
                        <th class="noms">{{ matiere }}</th>
                    {% endfor %}
                   
                    
                </tr>
                </table>
                <table class="scrolable">
                    <tbody>
                        
                        {% for prof in possibles.keys() %}
                            <tr>
                                <td> {{ prof }}</td>
                                {% for matiere in matieres %}
                                    {% if matiere in possibles[prof] %}
                                        <td> OUI </td>
                                    {% else %}
                                        <td> NON </td>
                                    {% endif %}
                                {% endfor %}
                                
                                
                                
                            </tr>
                        {% endfor %}
                    </tbody>
            </table>

        </section>  
{% endblock %}
{% block scripts %}
<script src="{{url_for('static', filename='JS/dispo.js')}}"></script>
{% endblock %}
