{% extends 'BaseEnsiegnant.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/gerer_dispo.css')}}">

{% endblock %}
{% block top %}
            <div id="selection_semaine">
                <select name="semaines" id="selec-sem">
                    {% for semaine in semaines %}
                        <option value="{{ semaine.id_semaine }}">Sem {{ semaine.id_semaine }} {{ semaine.date_debut }}</option>
                    {% endfor %}
                </select>
        </div>
        
{% endblock %}
{% block center%}
        <section id="tableaudispo">
            <table id="labels">
                <thead id="Dispo_nom">
                    <tr>
                        <th id="titre_tableau_dispo" colspan="5"><H2>S'inscrire pour des oraux</H2></th>
                    </tr>
                </thead>
                <tr class="colonnes">
                    <th class="noms">Date</th>
                    <th class="noms">Heure</th>
                    <th class="noms">Matiere</th>
                    <th class="noms"></th>
                </tr>
                </table>
                <table class="scrolable">
                    <tbody>
                    {% for oral in oraux %}
                    <tr>
                        <td>{{ oral.date_oral }}</td>
                        <td>{{ oral.heure_oral }}</td>
                        <td>{{ oral.nom_matiere }}</td>
                        <td><input class="inscription_bouton" " value="S'inscrire" type="button"></input> </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </section>  
{% endblock %}
{% block scripts %}
<script src="{{url_for('static', filename='JS/dispo.js')}}"></script>
{% endblock %}
