<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Index</title>
        <link rel="stylesheet" href="../static/style.css">
        <link rel="stylesheet" href="../static/index.css">
    </head>
    <body>
        <main>
            <img src="../img/logo.png" alt="logo" id="logo" height="10em">
            <div id="conteneur">
                <a href="#"><button class="bgen" type="button">Administrateur</button></a>
                <a href="#"><button class="bgen" type="button">Professeur</button></a>
            </div>
        </main>
    </body>
</html>