<!DOCTYPE html>
<html lang="fr">
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Index</title>
        {% block styles %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
        {% endblock %}
        <title>Index</title>
        {% endblock %}
    </head>
    <body>
        <main id="page_connexion">
            {%block top%}
            <div id="top">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo" id="logo" height="10em">
            </div>
            {% endblock %}
            {% block main %}
            <div id="conteneur">
                <a href="{{url_for ('connexionAdm')}}"><button class="bgen" type="button">Administrateur</button></a>
                <a href="{{url_for ('connexionProf')}}"><button class="bgen" type="button">Professeur</button></a>
            </div>
            {% endblock %}
        </main>
    </body>
</html>