<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="stylesheet" href="../static/style_acc.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/parametres.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paramètres</title>
</head>
<body>
    <nav >
        <label for="toggle" class="label_nav">☰</label>
        <input type="checkbox" id="toggle">
        <div class="main_pages">
            <a href="./Acceuil.html" id="navbar_home"> 
                <img src="../img/acceuil_act.png" height="50em" alt="" height="60em">
            </a>

            <a href="./ResQCM.html" class="navbar__links">Resultats QCM</a>
       

            <a href="./res_sond.html" class="navbar__links">Sondages</a>
        

            <a href="./Dispo.html" class="navbar__links">Disponibilité Enseignant</a>
       

            <a href="/" class="navbar__links">Gerer ses disponibilités</a>
       
            <a href="/" class="navbar__links">Voir le soutien</a>
        
            <a href="./SuiviGenEtu.html" class="navbar__links">Suivi Etudiant</a>

            <a href="./paramEns.html" class="navbar__links"> <img src="../img/reglages.png" height="50em" alt=""></a>

            <a href="./index.html" class="navbar__links"><img src="../img/deconnexion.png" height="40em" alt=""></a>

        </div>
    </nav>
    <main>
        <section class="bouts_gen">
        <select name="Semaine" id="sem-select">
            <option value="">Semaine</option>
            <!-- remplir avec le selenium -->
            <option value="semaine1">semaine1</option>
            <option value="semaine2">semaine2</option>
            <option value="semaine3">semaine3</option>
            <option value="semaine4">semaine4</option>
            <option value="semaine5">semaine5</option>
            <option value="semaine6">semaine6</option>
        </select>
            <input id="save_sett" type="button" value="Sauvegarder les modifications">
        </section>

    
   
    <section class="info_par">
        <div class="gest_mat">
            <h3 class="titre_div">Gestion des matières</h3>
            <div class="matiere">
                <fieldset>
                    <legend>WEB</legend>
                <input type="checkbox" id="mat1" name="p1" value="P1">
                <label for="p1">P1</label>
                <input type="checkbox" id="mat2" name="p2" value="p2">
                <label for="p2">P2</label>
                <input type="checkbox" id="mat3" name="p3" value="p3">
                <label for="p3">P3</label>
                <input type="checkbox" id="mat4" name="p4" value="p4">
                <label for="p4">P4</label>
                </fieldset>
                <button id="poubelle">
                    <img src="../img/poubelle.png" alt="supprimer" height="30em">
                </button>
            </div>
            <button id="ajt_mat">
                <img src="../img/plus.png" alt="ajouter" height="10em">
                Ajouter une matière
            </button>
        </div>        
    </section>
</main>
</body>
</html>