<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="stylesheet" href="../static/style_acc.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/parametres.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paramètres</title>
</head>
<body>
    <nav >
        <label for="toggle" class="label_nav">☰</label>
        <input type="checkbox" id="toggle">
        <div class="main_pages">
            <a href="./Acceuil.html" id="navbar_home"> 
                <img src="../img/acceuil_act.png" height="50em" alt="" height="60em">
            </a>

            <a href="./ResQCM.html" class="navbar__links">Resultats QCM</a>
       

            <a href="./res_sond.html" class="navbar__links">Sondages</a>
        

            <a href="./Dispo.html" class="navbar__links">Disponibilité Enseignant</a>
       

            <a href="/" class="navbar__links">Voir le soutien</a>
        
            <a href="./SuiviGenEtu.html" class="navbar__links">Suivi Etudiant</a>

            <a href="./paramAdm.html" class="navbar__links"> <img src="../img/reglages.png" height="50em" alt=""></a>

            <a href="./index.html" class="navbar__links"><img src="../img/deconnexion.png" height="40em" alt=""></a>

        </div>
    </nav>
    <main>
        <select name="Semaine" id="sem-select">
            <option value="">Semaine</option>
            <!-- remplir avec le selenium -->
            <option value="semaine1">semaine1</option>
            <option value="semaine2">semaine2</option>
            <option value="semaine3">semaine3</option>
            <option value="semaine4">semaine4</option>
            <option value="semaine5">semaine5</option>
            <option value="semaine6">semaine6</option>
        </select>
            <input id="save_sett" type="button" value="Sauvegarder les modifications">
        </section>

    
    </main>
    <section class="info_par">
        <div class="gest_heures">
            <h3 class="titre_div">Gestion des heures de soutien</h3>
            <div class="horaire">
                <input type="date" id="date" name="date">
                <label for="h_deb">De</label>
                <input type="time" id="h_deb" name="h_deb">
                <label for="h_fin">À</label>
                <input type="time" id="h_fin" name="h_fin">
                <button id="poubelle">
                    <img src="../img/poubelle.png" alt="supprimer" height="20em">
                </button>
            </div>
            <button id="ajt_date">
                <img src="../img/plus.png" alt="ajouter" height="10em">
                Ajouter une date
            </button>
        </div>
        <div class="default_set">
            <h3 class="titre_div">Paramètres par défault</h3>
            <div class="default_sett">
                <div class="zone_st">
                <label for="jour">Jour de soutien</label>
                <input type="text" id="jour" name="jourS"></div>
                <div class="zone_st"><label for="seuil">Seuil pour les groupes</label>
                <input type="number" id="seuil" name="seuil"></div>
                <div class="zone_st"><label for="cgt_sem">Date changement de semestre</label>
                <input type="date" id="cgt_sem" name="cgt_s"></div>
        </div>
    </section>
</main>
</body>
</html>