{% extends 'BaseAdmin.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/parametres.css') }}">
{% endblock %}
{% block center %}
    <section class="infos_par" style="width:45%">
        <div class="gest_mat">
            <h3 class="titre_div">Gestion des matières</h3>
            <div class="matiere">
                <fieldset>
                <legend>WEB</legend>
                <input type="checkbox" id="mat1" name="p1" value="P1">
                <label for="p1">P1</label>
                <input type="checkbox" id="mat2" name="p2" value="p2">
                <label for="p2">P2</label>
                <input type="checkbox" id="mat3" name="p3" value="p3">
                <label for="p3">P3</label>
                <input type="checkbox" id="mat4" name="p4" value="p4">
                <label for="p4">P4</label>
                </fieldset>
                <button id="poubelle">
                    <img src="{{url_for('static', filename='img/poubelle.png')}}" alt="supprimer" height="30em">
                </button>
            </div>
            <button id="ajt_mat">
                <img src="{{url_for('static', filename='img/plus.png')}} alt="ajouter" height="10em">
                Ajouter une matière
            </button>
        </div>        
    </section>
    <footer>
    <form class="d-flex" method ="POST" role="save" action ="{{ url_for('save_paramEns',) }}">
        <section class="bouts_gen">
            <input id="save_sett" type="submit" value="Sauvegarder les modifications">
        </section>
    </form></footer>
{% endblock %}