{% if admin %}
    {% extends 'BaseAdmin.html' %}
{% else %}
    {% extends 'BaseEnsiegnant.html' %}
{% endif %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/filtres.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_sond.css')}}">

{% endblock %}
{% block aside %}
            <div id="aside_filtres">
                <h2>Filtres</h2>
                <button id="dep_fil" type="button" onclick="plie_deplie_semaines()">
                <img src="{{ url_for('static', filename='img/deplie.png') }}" alt="deplie" id="dep2"/></button>
            </div>
            <section id="groupe_filtre">
                <select name="semaines" id="selec-sem">
                    {% for semaine in semaines %}
                        <option value="{{ semaine.id_semaine }}">Sem {{ semaine.id_semaine }} {{ semaine.date_debut }}</option>
                    {% endfor %}
                </select>
            <div id="aside_grp">
                <h3>Groupes</h3>
                <button id="dep_grp" type="button" onclick="plie_deplie_filtres()">
                    <img src="{{ url_for('static', filename='img/deplie.png') }}" alt="deplie" id="dep"/></button>
            </div>
            <ul id="grps_filtres">
                {% for groupe in groupes %}
                    <li>
                        <input type="checkbox" name="{{ groupe }}" id="{{ groupe }}">
                        <label for="{{ groupe }}">{{ groupe }}</label>
                    </li>
                {% endfor %}
            </ul>
            <input id="liaison_bd" class="btn_valide" value="Valider" type="button"></input>
        </section>
{% endblock %}
{% block center %}
        <div id="encadrer_table">
            <table id="tableau">
                <thead>
                    <tr>
                        <th id="titre_tableau_sondage" colspan="{{ colspan}}"><H2>Sondages</H2></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th id="grp0"> <input type="checkbox" name="etus" id="etu" class="etudiant in_filtres" onclick="cache_etu()"> <label for="etu"> Etudiant</label></th>
                        <th id="grp1"><input type="checkbox" name="grp" id="grp" class="groupe in_filtres" onclick="cache_grp()"> <label for="grp"> Groupe</label></th>
                        <th id="grp2"><input type="checkbox" name="soutien" id="soutien" class="soutien in_filtres" onclick="cache_soutien()"> <label for="soutien"> Soutien?</label></th>
                        <th id="grp3"><input type="checkbox" name="mat" id="mat" class="mat in_filtres"  onclick="cache_matiere()"> <label for="mat"> Matiere</label></th>
                        <th id="grp4"><input type="checkbox" name="com" id="comm" class="comm in_filtres" onclick="cache_commentaire()"><label for="comm"> Commentaire</label></th>
                        {% for question in questions %}
                            <th id="grpq{{question.id_quest}}"><input type="checkbox" name="{{question.id_quest}}" id="{{question.id_quest}}" class="question{{question.id_quest}} in_filtres" onclick='cache_colonne()'><label for="{{question.id_quest}}">{{question.question}}</label></th>
                        {% endfor %}
                    </tr>
                    
                    {% for res_eleve,groupe,res_qs in sondages %}
                    <tr>
                        <td class="etu">{{ res_eleve.nom }} {{ res_eleve.prenom }}</td>
                        <td class="grp">{{ groupe }}</td>
                        <td class="soutien">{{ res_eleve.volontaire }}</td>
                        <td class="mat">{{ res_eleve.matiere_voulue }}</td>
                        <td class="comm">{{ res_eleve.commentaire }}</td>
                        {% for question in res_qs %}
                            <td class="question{{question.id_quest}}">{{ question.reponse }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>
        {% endblock %}
        {% block scripts %}
<script src="{{ url_for('static', filename='JS/res_sond.js') }}"></script>
{% endblock %}