<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style_sond.css">
    <title>Resultat QCM</title>
</head>
<body>
    <!-- TODO: menu nav bar paul -->
    <table>
        <thead>
            <tr>
                <th colspan="5">The table header</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Etudiant</th>
                <th>Groupe</th>
                <th>Soutien ?</th>
                <th>Matiere</th>
                <th>Commentaire</th>
            </tr>

            <tr>
                <td>Paul</td>
                <td>11A</td>
                <td>OUI</td>
                <td>Web</td>
                <td>NULL</td>
                
            </tr>


            <tr>
                <td>Paul</td>
                <td>11A</td>
                <td>OUI</td>
                <td>Web</td>
                <td>je regarde si le commentaire est enorme sducfbsiefuqsifhcsoefhcsdihkvsofhicowdhifoseihfosdcfsoehnc</td>
                
            </tr>

            <tr>
                <td>Paul</td>
                <td>11A</td>
                <td>OUI</td>
                <td>Web</td>
                <td>NULL</td>
                
            </tr>
        </tbody>
    </table>
    
</body>
</html>