{% if admin %}
    {% extends 'BaseAdmin.html' %}
{% else %}
    {% extends 'BaseEnsiegnant.html' %}
{% endif %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='filtres.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='style_sond.css')}}">

{% endblock %}
{% block aside %}
            <div id="aside_filtres">
                <h2>Filtres</h2>
                <button id="dep_fil" type="button" onclick="plie_deplie_semaines()">
                <img src="{{ url_for('static', filename='img/deplie.png') }}" alt="deplie" id="dep2"/></button>
            </div>
            <section id="groupe_filtre">
            <select name="semaines" id="selec-sem">
                <option value="">Semaine 43</option>
                <option value="">Semaine 44</option>
                <option value="">Semaine 45</option>
                <option value="">Semaine 46</option>
                <option value="">Semaine 47</option>
            </select>
            <div id="aside_grp">
                <h3>Groupes</h3>
                <button id="dep_grp" type="button" onclick="plie_deplie_filtres()">
                    <img src="{{ url_for('static', filename='img/deplie.png') }}" alt="deplie" id="dep"/></button>
            </div>
            <ul id="grps_filtres">
                <li>
                    <input type="checkbox" name="11A" id="11A">
                    <label for="11A">11A</label>
                </li>
                <li>
                    <input type="checkbox" name="11B" id="11B">
                    <label for="11B">11B</label>
                </li>
                <li>
                    <input type="checkbox" name="12A" id="12A">
                    <label for="12A">12A</label>
                </li>
                <li>
                    <input type="checkbox" name="12B" id="12B">
                    <label for="12B">12B</label>
                </li>
                <li>
                    <input type="checkbox" name="13A" id="13A">
                    <label for="13A">13A</label>
                </li>
                <li>
                    <input type="checkbox" name="13B" id="13B">
                    <label for="13B">13B</label>
                </li>
                <li>
                    <input type="checkbox" name="14A" id="14A">
                    <label for="14A">14A</label>
                </li>
                <li>
                    <input type="checkbox" name="14B" id="14B">
                    <label for="14B">14B</label>
                </li>
            </ul>
        </section>
{% endblock %}
{% block center %}
        <div id="encadrer_table">
            <table id="tableau">
                <thead>
                    <tr>
                        <th id="titre_tableau_sondage" colspan="5"><H2>Sondages</H2></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th id="grp0"> <input type="checkbox" name="etus" id="etu" class="etudiant" onclick="cache_etu()"> <label for="etu"> Etudiant</label></th>
                        <th id="grp1"><input type="checkbox" name="grp" id="grp" class="groupe" onclick="cache_grp()"> <label for="grp"> Groupe</label></th>
                        <th id="grp2"><input type="checkbox" name="soutien" id="soutien" class="soutien" onclick="cache_soutien()"> <label for="soutien"> Soutien?</label></th>
                        <th id="grp3"><input type="checkbox" name="mat" id="mat" class="mat"  onclick="cache_matiere()"> <label for="mat"> Matiere</label></th>
                        <th id="grp4"><input type="checkbox" name="com" id="comm" class="comm" onclick="cache_commentaire()"><label for="comm"> Commentaire</label></th>
                    </tr>

                    <tr>
                        <td class="etu">Paul</td>
                        <td class="grp">11A</td>
                        <td class="soutien">OUI</td>
                        <td class="mat">Web</td>
                        <td class="comm">NULL</td>
                        
                    </tr>


                    <tr>
                        <td class="etu">Paul</td>
                        <td class="grp">11A</td>
                        <td class="soutien">OUI</td>
                        <td class="mat">Web</td>
                        <td class="comm">paul participe super bien en cours et deviens de plus en plus regulier a l'idee de faire n'importe quoi juste pouyr trouver quelque chose a dire il recherche si c'est possible de suate une ligen en dazônd,z</td>
                    </tr>

                    <tr>
                        <td class="etu">Paul</td>
                        <td class="grp">11A</td>
                        <td class="soutien">OUI</td>
                        <td class="mat">Web</td>
                        <td class="comm">NULL</td>
                        
                    </tr>
                    <tr>
                        <td class="etu">Paul</td>
                        <td class="grp">11A</td>
                        <td class="soutien">OUI</td>
                        <td class="mat">Web</td>
                        <td class="comm">paul participe super bien en cours et deviens de plus en plus regulier a l'idee de faire n'importe quoi juste pouyr trouver quelque chose a dire il recherche si c'est possible de suate une ligen en dazônd,z</td>
                    </tr>
                    <tr>
                        <td class="etu">Paul</td>
                        <td class="grp">11A</td>
                        <td class="soutien">OUI</td>
                        <td class="mat">Web</td>
                        <td class="comm">paul participe super bien en cours et deviens de plus en plus regulier a l'idee de faire n'importe quoi juste pouyr trouver quelque chose a dire il recherche si c'est possible de suate une ligen en dazônd,z</td>
                    </tr>
                    <tr>
                        <td class="etu">Paul</td>
                        <td class="grp">11A</td>
                        <td class="soutien">OUI</td>
                        <td class="mat">Web</td>
                        <td class="comm">paul participe super bien en cours et deviens de plus en plus regulier a l'idee de faire n'importe quoi juste pouyr trouver quelque chose a dire il recherche si c'est possible de suate une ligen en dazônd,z</td>
                    </tr>
                    <tr>
                        <td class="etu">Paul</td>
                        <td class="grp">11A</td>
                        <td class="soutien">OUI</td>
                        <td class="mat">Web</td>
                        <td class="comm">paul participe super bien en cours et deviens de plus en plus regulier a l'idee de faire n'importe quoi juste pouyr trouver quelque chose a dire il recherche si c'est possible de suate une ligen en dazônd,z</td>
                    </tr>
                </tbody>
            </table>
        </div>
        {% endblock %}