{% if current_user.get_est_admin() %}
    {% extends 'BaseAdmin.html' %}
{% else %}
    {% extends 'BaseEnsiegnant.html' %}
{% endif %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/QCM.css')}}">
{% endblock %}
{% block aside %}
    <div id="aside_filtres">
        <h2>Filtres</h2>
        <button id="dep_fil" type="button" onclick="plie_deplie_semaines()">
        <img src="{{ url_for('static', filename='img/deplie.png') }}" alt="deplie" id="dep2"/></button>
    </div>
    <section id="groupe_filtre">
    <select name="semaines" id="selec-sem">
        {% for semaine in semaines %}
            <option value="{{ semaine.id_semaine }}">Sem {{ semaine.id_semaine }} {{ semaine.date_debut }}</option>
        {% endfor %}
    </select>
    
    <div id="aside_grp">
        <h3>Groupes</h3>
        <button id="dep_grp" type="button" onclick="plie_deplie_filtres()">
            <img src="{{ url_for('static', filename='img/deplie.png') }}" alt="deplie" id="dep"/></button>
    </div>
    <ul id="grps_filtres">
        {% for groupe in groupes %}
            <li>
                <input type="checkbox" name="{{ groupe }}" id="{{ groupe }}">
                <label for="{{ groupe }}">{{ groupe }}</label>
            </li>
        {% endfor %}
        
    </ul>
    <input id="liaison_bd" class="style_btn" value="Valider" type="button"></input>
</section>
{% endblock %}
{% block center %}
<section id="tableauqcm">
    <div class="jsp">
    <table id="labels">
        <thead id="QCM">
            <tr>
                <th id="titre_tableau_sondage" colspan="5"><H2>QCM</H2></th>
            </tr>
        </thead>
        <tr class="colonnes">
            <th class="noms">Etudiant</th>
            <th class="noms">Groupe</th>
            {% for matiere in matieres %}
                <th class="noms">{{ matiere }}</th>
            {% endfor %}
            <th class="noms">Soutien</th>
            <th class="noms">Voeu matiere</th>
        </tr>
        <tr id="moyennes">
            <th class="moy">Moyenne</th>
            <th class="moy">
                <select>
                    <option value="generale">Generale</option>
                    {% for groupe in groupes %}
                        <option value="{{ groupe }}">{{ groupe }}</option>
                    {% endfor %}
                </select>
            </th>
            {% for matiere,moyenne in res_bandeau %}
                <th class="moy">{{ moyenne }}</th>
            {% endfor %}
        </tr>
        </table>
        <table class="scrolable">
            <tbody>
            {% for eleve,groupe,qcms,rep_sond in resultats %}
                <tr>
                    <td><a href="{{url_for ('Suivie_etu')}}"> {{ eleve.nom }} {{ eleve.prenom }}</a></td>
                    <td>{{ groupe }}</td>
                    <!-- ici il faut avoir les notes des qcms et si il y en a pas, on met '-'   -->

                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    {% for qcm in qcms %} 
                        {% if qcm == ""%}
                        <td>-</td>
                        {% else %}
                        <td>{{ qcm }}</td>
                        {% endif %}
                    {% endfor %}
                    <td>{{ rep_sond.volontaire }}</td>
                    <td>{{ rep_sond.matiere_voulue }}</td>
                </tr>
            {% endfor %}
            </tbody>
    </table></div></section>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='JS/res_qcm.js') }}"></script>
{% endblock %}