<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <script src="../JS/suivie_gen_etu.js"></script>
    <script src="../JS/nav_adapte.js"></script>
    <script src="../JS/soutien.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/filtres.css">
    <link rel="stylesheet" href="../static/suiviGen.css">
    <link rel="stylesheet" href="../static/nav.css">
    <link rel="stylesheet" href="../static/soutien.css">
    <title>Soutien</title>
</head>
<body>
    <nav id="menu"></nav>
    <main>
        <section id="haut_sout">
            <select name="Semaine" id="sem-select" onchange="load_data()">
                <option value="">Semaine</option>
                <!-- remplir avec le selenium -->
                <option value="semaine1">semaine1</option>
                <option value="semaine2">semaine2</option>
                <option value="semaine3">semaine3</option>
                <option value="semaine4">semaine4</option>
                <option value="semaine5">semaine5</option>
                <option value="semaine6">semaine6</option>
            </select>
            </section>
        <section id="tableaugen">
        <table id="labels">
            <thead id="titre_suivi">
                <tr>
                    <th id="titre_tableau_sondage" colspan="6"><H2>Soutien</H2></th>
                </tr>
                <tr class="colonnes">
                    <th class="noms">Etudiant</th>
                    <th class="noms">Matière 1</th>
                    <th class="noms">Matière 2</th>
                    <th class="noms">Volontaire</th>
                    <th class="noms">Matière</th>
                    <th class="noms">Commentaire</th>
                </tr>    
            </thead>
        </table>
        <table class="scrolable" id="tab2">
            
        </table></section>
    </main>
</body>
</html>