{% if admin %}
    {% extends 'BaseAdmin.html' %}
{% else %}
    {% extends 'BaseEnsiegnant.html' %}
{% endif %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/filtres.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/suivi_etu.css')}}">
{% endblock %}

{% block aside %}
    <h2>num Etudiant</h1>
    <h2>groupe etu</h2>
</div>
<div id="section_grp">
    <h3>Matières</h3>
    <button id="dep_fil" type="button" onclick="plie_deplie_matieres()">
        <img src="{{ url_for('static', filename='img/deplie.png') }}" alt="plie" id="dep"/></button>
</div>
<section id="matieres_gauche">
    <div>
    <ul class="matières">
        <li>
            <input type="checkbox" name="Python" id="Python">
            <label for="Python">Python</label>
        </li>
        <li>
            <input type="checkbox" name="BDD" id="BDD">
            <label for="BDD">BDD</label>
        </li>
    </ul>
    </div>
    <div>
        <ul class="matières">
            <li>
                <input type="checkbox" name="Java" id="Java">
                <label for="Java">Java</label>
            </li>
            <li>
                <input type="checkbox" name="Bash" id="Bash">
                <label for="Bash">Bash</label>
            </li>
        </ul>
    </div>
    <div>
        <ul class="matières">
            <li>
                <input type="checkbox" name="Maths" id="Maths">
                <label for="Maths">Maths</label>
            </li>
            <li>
                <input type="checkbox" name="Eco" id="Eco">
                <label for="Eco">Eco</label>
            </li>
        </ul>
    </div>
</section>
<section id="dates">
            <label for="date_debut">De</label>
            <input type="date" name="date_debut" id="date_debut">
            <label for="date_fin">À</label>
            <input type="date" name="date_fin" id="date_fin">
</section>
<section id="semaines_choix">
    <div id="selec_sem">
    <select name="semaines" id="selec-sem">
        <option value="">Semaine 43</option>
        <option value="">Semaine 44</option>
        <option value="">Semaine 45</option>
        <option value="">Semaine 46</option>
        <option value="">Semaine 47</option>
    </select>
    </div>
    <section id="para_qcm">
        <h2>QCMs:</h2>
        <div id="qcm">
            <p>QCM1</p>
            <p>QCM2</p>
            <p>QCM3</p>
            <p>QCM4</p>
            <p>QCM5</p>
        </div>
    </section>
    <section id="para_soutien">
        <h2>SOUTIEN</h2>
        <div id="soutien">
            <p>Soutien1</p>
            <p>Soutien2</p>
            <p>Soutien3</p>
            <p>Soutien4</p>
            <p>Soutien5</p>
        </div>
    </section>
</section> 
{% endblock %}
{% block center %}
<section id="partie_milieu">
    <h2>Suivi Etudiant</h2>
    <section id="graphique">
        <div id="linechart_material" style="width: 900px; height: 500px"></div>
    </section>
</section>
{% endblock %}
{% block right %}
<div class="content"></div>
    <table id="suivie_etu_table">
        <tr id="colonnes">
            <th id="noms">Sem</th>
            <th id="noms">Matière</th>
            <th id="noms">Commentaire</th>
        </tr>
        <tr>
            <td>Arsouze</td>
            <td>Python</td>
            <td>Java</td>
        </tr>
        <tr>
            <td>Paul</td>
            <td>Python</td>
            <td>Java</td>
        </tr>
        <tr>
            <td>Paul</td>
            <td>Python</td>
            <td>Java</td>
        </tr>
        <tr>
            <td>Paul</td>
            <td>Python</td>
            <td>Java</td>
        </tr>
        <tr>
            <td>Paul</td>
            <td>Python</td>
            <td>Java</td>
        </tr>
    </table>
    
<button type="button" id="collapsible" onclick="collapse()">

<img src="{{ url_for('static', filename='img/moins.png') }}" alt="-" height="10em"></button>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='JS/suivi_etu.js') }}"></script>
{% endblock %}
 