{% if admin %}
    {% extends 'BaseAdmin.html' %}
{% else %}
    {% extends 'BaseEnsiegnant.html' %}
{% endif %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/filtres.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/suiviGen.css')}}">

{% endblock %}
{% block aside %}
<div id="aside_filtres">
    <h2>Filtres</h2>
    <button id="dep_fil" type="button" onclick="plie_deplie_semaines()">
    <img src="{{ url_for('static', filename='img/deplie.png') }}" alt="deplie" id="dep2"/></button>
</div>
<section id="groupe_filtre">
    <form method="POST" action="">
        {% if filtres.semaines.errors %}
        <div class="invalid-feedback">
            {% for error in filtres.semaines.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% endif %}
        <select name="semaines" id="selec-sem">
            {% for sem in filtres.semaines %}
                    {{ sem }}
            {% endfor %}
        </select>
        <div id="aside_grp">
            <h3>Groupes</h3>
            <button id="dep_grp" type="button" onclick="plie_deplie_filtres()">
                <img src="{{ url_for('static', filename='img/deplie.png') }}" alt="deplie" id="dep"/></button>
        </div>
        <fieldset class="form-group" id="grps_filtres">
            {% if filtres.groupes.errors %}
            <div class="invalid-feedback">
                {% for error in filtres.groupes.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% endif %}
            {% for choice in filtres.groupes %}
                <div class="form-check">
                    {{ choice(class="form-check-input") }}
                    {{ choice.label(class="form-check-label") }}
                </div>
            {% endfor %}
        </fieldset>
    <input id="liaison_bd" class="btn_valide" value="Valider" type="submit"></input>
    </form>
</section>
            <div id="aside_rec">
                <form action="{{ url_for('suivi_gen_recherche') }}" method="post" class="recherche_eleve" role="search" >
                    <h3>Recherche</h3>
                    <input type="search" name="recherche" id="recherche" placeholder="Search" aria-label="Search">
                    <button type="submit" id="submit_recherche">-></button>
                </form>
            </div>
            </section>
{% endblock %}
{% block center %}
        <section id="tableaugen">
        <table id="labels">
            <thead id="titre_suivi">
                <tr>
                    <th id="titre_tableau_sondage" colspan="5"><H2>Suivi Etudiant</H2></th>
                </tr>
                <tr class="colonnes">
                    <th class="noms">Etudiant</th>
                    <th class="noms">Nb part oraux</th>
                    <th class="noms">Groupe</th>
                    <th class="noms">Moyenne generale</th>
                    <th class="noms">Commentaire</th>
                </tr>    
            </thead>
        </table>
        <table class="scrolable" id="tab2">
            <tbody>
                <!-- {% for eleve in eleves %}
                    <tr>
                        <td><a href="{{url_for ('Suivie_etu',num_etu=eleve.num_etu)}}">{{ eleve.eleve.nom }} {{ eleve.eleve.prenom }}</a></td>
                        <td>{{ eleve.nb_part }}</td>
                        {% if semaine_act.semestre == 1 %}
                            <td>{{ eleve.eleve.groupe_s1 }}</td>
                        {% else %}
                            <td>{{ eleve.eleve.groupe_s2 }}</td>
                        {% endif %}
                        <td>{{ eleve.moyenne }}</td>
                        <td>{{ eleve.dern_comm }}</td>
                    </tr>
                {% endfor %}  -->
                {% for eleve in suivi_gen %}
                    <tr>
                        <td><a href="{{url_for ('Suivie_etu')}}">{{ eleve.eleve.nom }} {{ eleve.eleve.prenom }}</a></td>
                        <td>{{ eleve.nb_part }}</td>
                        {% if semaine_act.semestre == 1 %}
                            <td>{{ eleve.eleve.groupe_s1 }}</td>
                        {% else %}
                            <td>{{ eleve.eleve.groupe_s2 }}</td>
                        {% endif %}
                        <td>{{ eleve.moyenne }}</td>
                        <td>{{ eleve.dern_comm }}</td>
                    </tr>
                {% endfor %} 
                
                </tbody>
        </table></section>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='JS/suivie_etu_gen.js') }}"></script>
{% endblock %}