{% if admin %}
    {% extends 'BaseAdmin.html' %}
{% else %}
    {% extends 'BaseEnsiegnant.html' %}
{% endif %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/filtres.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/suivi_etu.css')}}">
{% endblock %}

{% block aside %}
    <h2>Nom, Prenom: </h1>
    <p class="nom_prenom_suivie">{{ eleve.nom }} {{ eleve.prenom }}</p>
    <h2>groupe etu</h2>
    {% if semaine_actu.semestre ==1 %}
    <p class="nom_prenom_suivie"> {{ eleve.groupe_s1 }}</p>
    {% else %}
    <p class="nom_prenom_suivie"> {{ eleve.groupe_s2 }}</p>
    {% endif %}
</div>
<div id="section_grp">
    <h3>Matières</h3>
    <button id="dep_fil" type="button" onclick="plie_deplie_matieres()">
        <img src="{{ url_for('static', filename='img/deplie.png') }}" alt="plie" id="dep"/></button>
</div>
<form method="POST" action="">
    <section id="matieres_gauche">
        {% if filt_graph.matieres.errors %}
            <div class="invalid-feedback">
                {% for error in filt_graph.matieres.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% endif %}

           <p> {{ list[0] }} </p>
        <fieldset class="form-group" id="grps_matieres" style="display:flex; flex-direction:row">
                {% for idc in range(0, nbc) %}
                    <div>
                    <ul class="matières">
                    {% for idm in range (0, 3) %}
                    <li style="display:flex">
                        <!-- <input type="checkbox" id="{{ matieres[idc+idm].nom_matiere }}" name="{{ matieres[idc+idm].nom_matiere }}" value="{{ matieres[idc+idm].nom_matiere }}">
                        <label for="{{ matieres[idc+idm].nom_matiere }}" style="padding-left:5%">{{ matieres[idc+idm].nom_matiere }}</label> -->
                        {{ filt_graph.matieres.choices[idc+idm](class="form-check-input") }}
                        {{ filt_graph.matieres.choices[idc+idm].label(class="form-check-label") }}
                    </li>
                    {% endfor %}
                    </ul>
                    </div>
                {% endfor %}
        </fieldset>
        </section>
    <section id="dates">
        {% if filt_graph.date_debut.errors %}
            <div class="invalid-feedback">
                {% for error in filt_graph.date_debut.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% endif %}
            {% if filt_graph.date_fin.errors %}
            <div class="invalid-feedback">
                {% for error in filt_graph.date_fin.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% endif %}
        <label for="date_debut">De</label>
        <div class="form-check">
            {{ filt_graph.date_debut }}
        </div>
        <label for="date_fin">À</label>
        <div class="form-check">
            {{ filt_graph.date_fin }}
        </div>
    </section>
<input id="liaison_bd" class="btn_valide" value="Valider" type="submit"></input>
</form>
<section>
    <input type="submit" value="Validé" id="btn_valide_creneau" onclick="document.location.reload(false)"> 
</section>
<section id="semaines_choix">
    <div id="selec_sem">

        <select name="semaines" id="selec-sem">
            {% for sem in filtres.semaines %}
                    {{ sem }}
            {% endfor %}
        </select>
            <input type="submit" value="Valdié" id="btn_valide_semaine" onclick="document.location.reload(false)">
        
    </div>
    <section id="para_qcm">
        <h2>QCMs:</h2>
        <div id="qcm">
           {% for qcm in qcms %}
                {% if qcm.note_qcm > 10 %}
                <p class="couleur_bonne">{{ qcm.nom_matiere }} : {{ qcm.note_qcm}} </p>
                {% else %}
                <p class="couleur_mauvaise">{{ qcm.nom_matiere }} : {{ qcm.note_qcm}} </p>
                {% endif %}
           {% endfor %}
        </div>
    </section>
    <section id="para_soutien">
        <h2>SOUTIEN</h2>
        <div id="soutien">
            <p>Volontaire: {{ soutien.volontaire }} </p>
            <p>Matiere souhaitée: {{ soutien.matiere_voulue }}  </p>
        <!-- si questions n'est pas None -->
        {% if questions %}
        {% for question in questions %}
            <p>Question: {{ question.question }} </p>
            <p>Réponse: {{ question.reponse }}  </p>
        {% endfor %}
        {% endif %}
        </div>
    </section>
</section> 
{% endblock %}
{% block center %}
<section id="partie_milieu">
    <h2>Suivi Etudiant</h2>
    <section id="graphique">
        <div id="linechart_material" style="width: 900px; height: 500px"></div>
    </section>
</section>
{% endblock %}
{% block right %}
<div id="droite_se">
<div id="content" style="display: flex;">
    <table id="suivie_etu_table">
        <tr id="colonnes">
            <th id="noms">Sem</th>
            <th id="noms">Matière</th>
            <th id="noms">Commentaire</th>
        </tr>
        {% for oral,semaine in oraux %}
        <tr>
            {% if oral %}
            <td>{{ semaine.id_semaine }}</td>
            <td>{{ oral.nom_matiere }}</td>
            <td>{{ oral.commentaire }}</td>
            {% else %}
            <td>{{ semaine.id_semaine }}</td>
            <td>-</td>
            <td>-</td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    </div>
<button type="button" id="collapsible" onclick="collapse()">

-</button></div>

{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='JS/suivi_etu.js') }}">
</script>
<script src="https://www.gstatic.com/charts/loader.js"></script>
<script src="{{ url_for('static', filename='JS/suivi_graphe.js') }}"></script>
{% endblock %}
 