#titre_tableau_dispo{
    background-color: #860061;
    flex-grow: 1;
    width: 50vw;
  }
  #tableaudispo table{
    margin: 0;
    border-spacing: 0;
    width: fit-content;
    align-self: center;
    width: 50vw;
  }
  #tableaudispo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10vw;
    width: 73vw;
    font-size: 1vw;
  }
  #tableaudispo td, #tableaudispo th{
    padding: 0.5vw;
    width: 7.6vw;
    text-align: center; 
    border: 1px solid #333;   
    font-size: 1vw;
  }
  #tableaudispo table{
    margin: 0;
    border-spacing: 0;
    width: 70vw;
    align-self: center;
    font-size: 1vw;
  }
  
  /* met le div_main au centre */
    #div_main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .scrolable {
      margin: 0vw;
      padding: 0vw;
      overflow-y: scroll;
      display: block;
      max-height: 30vw;}
      tr{
        display: flex;
      }
      tr a{
        text-decoration: none;
        color: #000;
      }

/* met la barre pour scroller a droite du tableau */
#Dispo_nom{
  width: 70vw;
}