.titre_div{
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    padding: 0.5em;
    color: #860061;
    background-color: #a0a0a0;
    margin-top:0;
    margin-bottom: 0.5em;
    border-radius: 0.5em;
    ;
}

.gest_heures, .default_set, .gest_mat{
    background-color: #d6d6d6;
    border-radius: 0.5em;
    margin: 2em;
    text-align: center;
    flex-basis: 40%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    
}
.default_sett{
    background-color: #d6d6d6;
    border-radius: 0.5em;
    text-align: center;
    flex-basis: 40%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.default_sett *{
    margin-right: 1em;
}



.horaire, .bouts_gen, .infos_par{
    display: flex;
    flex-direction: row;
    margin: 1em;
    background-color: #d6d6d6;
}

.bouts_gen{
    justify-content: space-around;
    flex-direction: row;
    background-color: white;
}

.infos_par{
    justify-content: space-around;
    flex-direction: row;
    background-color: white;
}


.horaire *{
    margin : 0.2em;
}

#poubelle{
    margin: 0em;
    padding: 0em;
    border: none;
    background-color: #d6d6d6;
}

#ajt_date, #ajt_mat{
    margin: 1em;
    margin-right: 80%;
    padding: 0em;
    border: none;
    background-color: #d6d6d6;
}

.zone_st{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: left;
    align-content: left;
    margin: 1em;
    background-color: #d6d6d6;
    border-radius: 0.5em;
}

.matiere{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
}
.matiere fieldset{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    margin: 1em;
    padding: 1em;
    border-radius: 0.5em;
    background-color: #d6d6d6;
}
.matiere fieldset input{
    margin: 0.5em;
}
.matiere *{
    margin: 1em;
}

#save_sett{
    border-radius: 1em;
    padding: 1em;
    background-color: #860061;
    font-weight: bold;
    font-size: 1em;
}
main{
    display: flex;
    flex-direction: column;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    flex-grow: 1;
    border-radius: 0.5em;
    margin: 1em;
    padding: 1em;
}