#tableauqcm table{
  margin: 0;
  border-spacing: 0;
  width: fit-content;
  align-self: center;
}
#tableauqcm{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10%;
  width: auto;
}
#tableauqcm td, #tableauqcm th{
  padding: 0.5em;
  width: 10em;
  text-align: center; 
  border: 1px solid #333;   
}
#tableauqcm table{
  margin: 0;
  border-spacing: 0;
  width: fit-content;
  align-self: center;
}

/* met le div_main au centre */
  #div_main{
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  .scrolable {
    margin-right: 0%;
    padding-right: 0%;
    overflow-y: scroll;
    display: block;
    border-spacing: 0;
    max-height: 30em;}

#titre_tableau_sondage{
  background-color: #860061;
  flex-grow: 1;
}
tr{
  display: flex;
}
tr a{
  text-decoration: none;
  color: #000;
}


