
  #tableaugen table{
    margin: 0;
    border-spacing: 0;
    width: fit-content;
    align-self: center;
  }
#tableaugen{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: auto;
  }
  #tableaugen td, #tableaugen th{
    padding: 0.5em;
    width: 10em;
    text-align: center; 
    border: 1px solid #333;   
  }
  #tableaugen table{
    margin: 0;
    border-spacing: 0;
    width: 100%;
    align-self: center;
  }

  /* met le div_main au centre */
    #div_main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #top{
        display: flex;
        justify-content: left;
        margin-top: 2%;
        padding-bottom: 0%;
        margin-bottom: -5%;
        padding-left: 10%;
      }
  .scrolable {
  margin-right: 0%;
  padding-right: 0%;
  overflow-y: scroll;
  display: block;
  border-spacing: 0;
  max-height: 20em;}
  #tableaugen{
    margin-left: 30%;
  }