
#div_main{
    display: flex;
    justify-content: space-around;
}

.res_qcm{
    background-color: lightgray;
    border-radius: 10px;
    margin-top: 8vw;
    height: 18vw;
    padding: 1.25vw;
    text-align: center;
    flex-basis: 50vw;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#div_main{
    display: flex;
    padding-top: 0vw;
    margin-top: 0vw;
}

.res_sond{
    background-color: lightgray;
    border-radius: 10px;
    padding: 1.25vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 3vw;
}

.dispo_en{
    background-color: lightgray;
    border-radius: 10px;
    margin-top: 2vw;
    padding: 1.25vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    
}

.sond_dispo{
    display: inline;
    background-color: lightgray;
    flex-basis: 10vw;
    flex-grow: 1;
}
.dispo_sond{
    display: flex;
    flex-direction: column;
    margin-left: 4vw;
    margin-right: 4vw;
    padding: 3vw;
    margin-bottom: 10px;
    flex-basis: 50vw;
    flex-grow: 1;

}

/* les tab */
table,
td {
    border: 0.15vw solid #333;
}

thead,
tfoot {
    background-color: #860061;
    color: #fff;
}

/* met le top au centre */
#top {
    margin-top: 2vw;
    text-align: center;
    margin-bottom: -3vw;
}

table{
    font-size: 1vw;
}