body{
    font-family: Arial, Helvetica, sans-serif;
}
button{
    border: none;
    background-color: #fff;
  }
  button img{
    width: 1.5em;
    height: 1.5em;
  }

/* pour le tableau */
table,
td {
    border: 1px solid #333;
}
thead,
tfoot {
    background-color: #333;
    color: #fff;
}

#encadrer_table, #tableaugen{
    background-color: lightgrey;
    border-radius: 10px;
    margin-right:2em;
    padding:2em;
    width:auto
}

#tableauqcm{
    background-color: lightgrey;
    border-radius: 10px;
    margin-right:20em;
    padding:2em;
    
}

#tableaudispo{
    background-color: lightgrey;
    border-radius: 10px;
    margin-right:20em;
    padding:2em;
    
}
#div_main{
    margin-top: 3% ;
}

main {
    display: flex;
    justify-content: space-between;
}

.donnees_btn{
    border-radius: 1em;
    padding: 1em;
    background-color: #860061;
    font-weight: bold;
    font-size: 1em;
}
.p-4{
    margin-left: 3%;
  }

