/* pour le tableau */
table,
td {
    border: 2px solid #333;
    text-align: center;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}
table{
    margin: 3%;
}

#grp4{
    padding-top: 3%;
}

/* ---BODY------------------ */
body{
    display: flex;
    flex-direction: column;
}

main{
    display: flex;
    margin-top: 3% ;
}



/* ----------------------- */

#titre_tableau_sondage{
    background-color: #860061;
    color: white;
}

input[type=checkbox]:checked + label {
    display: none;}


.in_filtres{
    appearance: none;
}

th {
    text-align: center;
    vertical-align: middle;
    border: 2px solid #333;
}

 #div_main{
    margin-left: 5%;
}